body{margin: 0; background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body >p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


nav{ width: 200px;}

nav > a  { background-color: rgba(255, 255, 255, 0.815);
color: black;
display: block;  
padding: 30px;
margin-left: 20px;
padding-bottom: 30px;
text-decoration: none;
}
#menu{ background-color: white;
    text-align: center;
    font-family: 'Cambria';
    font-size: 20px;
    color: black;
    display: block;  
    padding: 30px;
    margin:0;
    margin-left: 20px;
}
nav > a  { background-color:rgba(255, 255, 255, 0.753);
    color: black;
    font-family:  'Cambria';
    display: block;  
    padding: 32px;
    margin-left: 20px;
    text-decoration: none;
}
figure{
  float: right;
  width: 30%;
  text-align: center;
  font-family: "Cambria";
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
.logo{
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-family: 'Cambria';
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }
header{
    background-color: white;
    padding: 50px;
}
footer{
    text-align: center;
    background-color: white;
    width: 100%;
    bottom: 0%;
    position: fixed;
    padding: 47px;
}