body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}
/* Container 1 */
#top-container{
    display: grid;
    grid-template-columns: 20% 100%;
}

.green-background {
    background-color: green;
    height: 50px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .yellow-background {
    background-color: yellow;
    width: 1228px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .pink-background {
    background-color: fuchsia;
    height: 350px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .blue-background {
    background-color: blue;
    height: 100px;
    width: 730px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #vertical-middle-container{
    display: grid;
    grid-template-columns: 100px;
}
.red-background {
    background-color: red;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 102px;
}

.lightgreen-background {
    background-color: lightgreen;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 102px;
}
  .purple-background {
    background-color: purple;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
}
